<div>
    <img src="../../assets/choix.png" width="100%" />
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="mt-3">
                    <div class="row">

                        <div class="col" *ngFor="let candidat of allCandidats" (click)="getInformationByCandidat(candidat)">

                            <img src="https://election.jafrchir.org/photo/{{ candidat.photo }}" style="width: 150%;" class="img-candidat">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 h-30">
                <br>
                <div class="row" *ngIf="!isObjectEmpty(candidatSlected)">
                    <div class="col-md-2 col-12">
                        <img class="img-fluid" src="https://election.jafrchir.org/photo/{{ this.candidatSlected.photo }}" style="" />
                    </div>
                    <div class="col-md-10 col-12">
                        <br>
                        <div class="bg-primary text-white py-2 px-4 rounded-pill nom-candidat" style="text-align: center;font-weight: 900;">{{ this.candidatSlected.nom }}</div>
                        <p class="text-center " style="font-weight: 700;">
                            {{ this.candidatSlected.coalition }}
                        </p>
                    </div>

                </div>

            </div>

            <div class="col-12" *ngIf="isLoading == 1">

                <div class="spinner spinner-border text-info" role="status" style="margin-left:auto;margin-top: 10px;">
                    <span class="sr-only"></span>
                </div>
            </div>

            <div class="col-12">
                <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
            </div>
            <div class="col-md-12 col-12 mt-5"*ngIf="!isObjectEmpty(allDataByRgion)" >
                <div class="card">
    
                    <div class="card-body">
                        <table datatable id="example" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Région</th>
                                    <th>Département</th>
                                    <th>Voix</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr  *ngFor="let item of allDataByRgion['DAKAR']">
                                         <td>{{ item.region }}</td>
                                         <td>{{ item.departement }}</td>
                                         <td>{{ item.nb }}</td>
                                </tr>
                                <tr>
                                     <td><b>Total</b></td>
                                     <td colspan="2"><b>{{ getTotalRegion(allDataByRgion['DAKAR']) }}</b></td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-12 mt-5"*ngIf="!isObjectEmpty(allDataByRgion)" >
                <div class="card">
    
                    <div class="card-body">
                        <table datatable id="example" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Région</th>
                                    <th>Département</th>
                                    <th>Voix</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr  *ngFor="let item of allDataByRgion['DIOURBEL']">
                                         <td>{{ item.region }}</td>
                                         <td>{{ item.departement }}</td>
                                         <td>{{ item.nb }}</td>
                                </tr>
                                <tr>
                                     <td><b>Total</b></td>
                                     <td colspan="2"><b>{{ getTotalRegion(allDataByRgion['DIOURBEL']) }}</b></td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-12 mt-5"*ngIf="!isObjectEmpty(allDataByRgion)" >
                <div class="card">
    
                    <div class="card-body">
                        <table datatable id="example" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Région</th>
                                    <th>Département</th>
                                    <th>Voix</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr  *ngFor="let item of allDataByRgion['FATICK']">
                                         <td>{{ item.region }}</td>
                                         <td>{{ item.departement }}</td>
                                         <td>{{ item.nb }}</td>
                                </tr>
                                <tr>
                                     <td><b>Total</b></td>
                                     <td colspan="2"><b>{{ getTotalRegion(allDataByRgion['FATICK']) }}</b></td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-12 mt-5"*ngIf="!isObjectEmpty(allDataByRgion)" >
                <div class="card">
    
                    <div class="card-body">
                        <table datatable id="example" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Région</th>
                                    <th>Département</th>
                                    <th>Voix</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr  *ngFor="let item of allDataByRgion['KAFFRINE']">
                                         <td>{{ item.region }}</td>
                                         <td>{{ item.departement }}</td>
                                         <td>{{ item.nb }}</td>
                                </tr>
                                <tr>
                                     <td><b>Total</b></td>
                                     <td colspan="2"><b>{{ getTotalRegion(allDataByRgion['KAFFRINE']) }}</b></td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-12 mt-5"*ngIf="!isObjectEmpty(allDataByRgion)" >
                <div class="card">
    
                    <div class="card-body">
                        <table datatable id="example" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Région</th>
                                    <th>Département</th>
                                    <th>Voix</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr  *ngFor="let item of allDataByRgion['KAOLACK']">
                                         <td>{{ item.region }}</td>
                                         <td>{{ item.departement }}</td>
                                         <td>{{ item.nb }}</td>
                                </tr>
                                <tr>
                                     <td><b>Total</b></td>
                                     <td colspan="2"><b>{{ getTotalRegion(allDataByRgion['KAOLACK']) }}</b></td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-12 mt-5"*ngIf="!isObjectEmpty(allDataByRgion)" >
                <div class="card">
    
                    <div class="card-body">
                        <table datatable id="example" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Région</th>
                                    <th>Département</th>
                                    <th>Voix</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr  *ngFor="let item of allDataByRgion['KEDOUGOU']">
                                         <td>{{ item.region }}</td>
                                         <td>{{ item.departement }}</td>
                                         <td>{{ item.nb }}</td>
                                </tr>
                                <tr>
                                     <td><b>Total</b></td>
                                     <td colspan="2"><b>{{ getTotalRegion(allDataByRgion['KEDOUGOU']) }}</b></td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-12 mt-5"*ngIf="!isObjectEmpty(allDataByRgion)" >
                <div class="card">
    
                    <div class="card-body">
                        <table datatable id="example" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Région</th>
                                    <th>Département</th>
                                    <th>Voix</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr  *ngFor="let item of allDataByRgion['KOLDA']">
                                         <td>{{ item.region }}</td>
                                         <td>{{ item.departement }}</td>
                                         <td>{{ item.nb }}</td>
                                </tr>
                                <tr>
                                     <td><b>Total</b></td>
                                     <td colspan="2"><b>{{ getTotalRegion(allDataByRgion['KOLDA']) }}</b></td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-12 mt-5"*ngIf="!isObjectEmpty(allDataByRgion)" >
                <div class="card">
    
                    <div class="card-body">
                        <table datatable id="example" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Région</th>
                                    <th>Département</th>
                                    <th>Voix</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr  *ngFor="let item of allDataByRgion['LOUGA']">
                                         <td>{{ item.region }}</td>
                                         <td>{{ item.departement }}</td>
                                         <td>{{ item.nb }}</td>
                                </tr>
                                <tr>
                                     <td><b>Total</b></td>
                                     <td colspan="2"><b>{{ getTotalRegion(allDataByRgion['LOUGA']) }}</b></td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-12 mt-5"*ngIf="!isObjectEmpty(allDataByRgion)" >
                <div class="card">
    
                    <div class="card-body">
                        <table datatable id="example" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Région</th>
                                    <th>Département</th>
                                    <th>Voix</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr  *ngFor="let item of allDataByRgion['MATAM']">
                                         <td>{{ item.region }}</td>
                                         <td>{{ item.departement }}</td>
                                         <td>{{ item.nb }}</td>
                                </tr>
                                <tr>
                                     <td><b>Total</b></td>
                                     <td colspan="2"><b>{{ getTotalRegion(allDataByRgion['MATAM']) }}</b></td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-12 mt-5"*ngIf="!isObjectEmpty(allDataByRgion)" >
                <div class="card">
    
                    <div class="card-body">
                        <table datatable id="example" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Région</th>
                                    <th>Département</th>
                                    <th>Voix</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr  *ngFor="let item of allDataByRgion['SAINT LOUIS']">
                                         <td>{{ item.region }}</td>
                                         <td>{{ item.departement }}</td>
                                         <td>{{ item.nb }}</td>
                                </tr>
                                <tr>
                                     <td><b>Total</b></td>
                                     <td colspan="2"><b>{{ getTotalRegion(allDataByRgion['SAINT LOUIS']) }}</b></td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-12 mt-5"*ngIf="!isObjectEmpty(allDataByRgion)" >
                <div class="card">
    
                    <div class="card-body">
                        <table datatable id="example" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Région</th>
                                    <th>Département</th>
                                    <th>Voix</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr  *ngFor="let item of allDataByRgion['SEDHIOU']">
                                         <td>{{ item.region }}</td>
                                         <td>{{ item.departement }}</td>
                                         <td>{{ item.nb }}</td>
                                </tr>
                                <tr>
                                     <td><b>Total</b></td>
                                     <td colspan="2"><b>{{ getTotalRegion(allDataByRgion['SEDHIOU']) }}</b></td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-12 mt-5"*ngIf="!isObjectEmpty(allDataByRgion)" >
                <div class="card">
    
                    <div class="card-body">
                        <table datatable id="example" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Région</th>
                                    <th>Département</th>
                                    <th>Voix</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr  *ngFor="let item of allDataByRgion['TAMBACOUNDA']">
                                         <td>{{ item.region }}</td>
                                         <td>{{ item.departement }}</td>
                                         <td>{{ item.nb }}</td>
                                </tr>
                                <tr>
                                     <td><b>Total</b></td>
                                     <td colspan="2"><b>{{ getTotalRegion(allDataByRgion['TAMBACOUNDA']) }}</b></td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-12 mt-5"*ngIf="!isObjectEmpty(allDataByRgion)" >
                <div class="card">
    
                    <div class="card-body">
                        <table datatable id="example" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Région</th>
                                    <th>Département</th>
                                    <th>Voix</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr  *ngFor="let item of allDataByRgion['THIES']">
                                         <td>{{ item.region }}</td>
                                         <td>{{ item.departement }}</td>
                                         <td>{{ item.nb }}</td>
                                </tr>
                                <tr>
                                     <td><b>Total</b></td>
                                     <td colspan="2"><b>{{ getTotalRegion(allDataByRgion['THIES']) }}</b></td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-12 mt-5"*ngIf="!isObjectEmpty(allDataByRgion)" >
                <div class="card">
    
                    <div class="card-body">
                        <table datatable id="example" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Région</th>
                                    <th>Département</th>
                                    <th>Voix</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr  *ngFor="let item of allDataByRgion['ZIGUINCHOR']">
                                         <td>{{ item.region }}</td>
                                         <td>{{ item.departement }}</td>
                                         <td>{{ item.nb }}</td>
                                </tr>
                                <tr>
                                     <td><b>Total</b></td>
                                     <td colspan="2"><b>{{ getTotalRegion(allDataByRgion['ZIGUINCHOR']) }}</b></td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<br><br>