<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="card" [style.border]="this.getRandomColor()" >
                        <div class="row">
                            <div class="col-1">
                                <svg class="icon-dash" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <circle cx="12" cy="12" r="10"></circle>
                                    <line x1="12" y1="16" x2="12" y2="12"></line>
                                    <line x1="12" y1="8" x2="12" y2="8"></line>
                                  </svg>
                            </div>
                            <div class="col-11">

                                <p style="font-weight: 700;font-size: 14px;text-align: center;">Nombre de centres de Vote</p>
                                <h4>
                                    <p class="card-text text-center">{{dashboardData.nbCentreVoteDiaspora}}</p>
                                </h4>
                            </div>
                        </div>

                    </div>
                    &nbsp;&nbsp;
                </div>
                <div class="col-md-6 col-12">
                    <div class="card" [style.border]="this.getRandomColor()" >
                        <div class="row">
                            <div class="col-1">
                                <svg class="icon-dash" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <circle cx="12" cy="12" r="10"></circle>
                                    <line x1="12" y1="16" x2="12" y2="12"></line>
                                    <line x1="12" y1="8" x2="12" y2="8"></line>
                                  </svg>
                            </div>
                            <div class="col-11">

                                <p style="font-weight: 700;font-size: 14px;text-align: center;">Nombre de bureaux de Vote</p>
                                <h4>
                                    <p class="card-text text-center">{{dashboardData.nbureauVoteDiaspora}}</p>
                                </h4>
                            </div>
                        </div>

                    </div>
                    &nbsp;&nbsp;
                </div>
                <div class="col-md-4 col-12">
                    <div class="card" [style.border]="this.getRandomColor()" >
                        <div class="row">
                            <div class="col-1">
                                <svg class="icon-dash" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <circle cx="12" cy="12" r="10"></circle>
                                    <line x1="12" y1="16" x2="12" y2="12"></line>
                                    <line x1="12" y1="8" x2="12" y2="8"></line>
                                  </svg>
                            </div>
                            <div class="col-11">

                                <p style="font-weight: 700;font-size: 14px;text-align: center;">Nombre d'inscrit</p>
                                <h4>
                                    <p  class="card-text text-center">{{ dashboardData.electeursDiaspora
                                    }}</p>

                                </h4>
                            </div>
                        </div>

                    </div>
                    &nbsp;&nbsp;
                </div>
                <div class="col-md-4 col-12">
                    <div class="card" [style.border]="this.getRandomColor()" >
                        <div class="row">
                            <div class="col-1">
                                <svg class="icon-dash" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <circle cx="12" cy="12" r="10"></circle>
                                    <line x1="12" y1="16" x2="12" y2="12"></line>
                                    <line x1="12" y1="8" x2="12" y2="8"></line>
                                  </svg>
                            </div>
                            <div class="col-11">

                                <p style="font-weight: 700;font-size: 14px;text-align: center;">Nombre Votants</p>
                                <h4>
                                    <p  class="card-text text-center">{{ dashboardData.nbVotantDiaspora}}</p>
                                    
                                </h4>
                            </div>
                        </div>

                    </div>
                    &nbsp;&nbsp;
                </div>
                <div class="col-md-4 col-12">
                    <div class="card" [style.border]="this.getRandomColor()" >
                        <div class="row">
                            <div class="col-1">
                                <svg class="icon-dash" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <circle cx="12" cy="12" r="10"></circle>
                                    <line x1="12" y1="16" x2="12" y2="12"></line>
                                    <line x1="12" y1="8" x2="12" y2="8"></line>
                                  </svg>
                            </div>
                            <div class="col-11">

                                <p style="font-weight: 700;font-size: 14px;text-align: center;">% Particpation</p>
                                <h4>
                                    <p  class="card-text text-center">{{ pourcentage(dashboardData.nbVotantDiaspora,dashboardData.electeursDiaspora)}} %</p>
                                    
                                </h4>
                            </div>
                        </div>

                    </div>
                    &nbsp;&nbsp;
                </div>
              
              
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-md-3" *ngFor="let allResultatsByCandidat of allResultatsByCandidats">
                   

                    <div class="card" [style.border]="this.getRandomColor()">
                        <div class="row">
                            <div class="col-12 card-img" >
                              
                                <img  src="https://election.jafrchir.org/photo/{{ allResultatsByCandidat.photo }}" alt="Card image cap" style="height: 100px;width: 100px;"> 
                            </div>
                            <div class="col-12">

                                
                                <p style="font-weight: 700;font-size: small;text-align: center ;" class="text-lg">{{ allResultatsByCandidat.nom }}</p>
                                <p style="font-weight: 700;font-size: large;text-align: center ;" >{{ allResultatsByCandidat.nb }} Voix</p>
                                <p class="card-text text-center text-bold text-danger mb-3" style="font-weight: 800;">{{((allResultatsByCandidat.nb/nbrVotant)*100).toFixed(2)}}%</p>
                  
                            </div>
                        </div>
                       

                    </div>
                  
                    &nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
</div>