<div class="m-5">
    <div class="col-12">

        <div class="row">
            <div class="col-md-2 col-12" *ngFor="let data of allResultatByCandidat">
                <div class="card" [style.border]="this.getRandomColor()">

                    <div class="card-header">
                        {{ data.nom }}
                    </div>
                    <div class="card-body" style="font-size: small;line-height: 10px;">
                        <p> Total à voter: {{ data.totalAvoter }} </p>
                        <p>Pourcentage des votes: {{ data.pourcentages }} %</p>
                    </div>
                </div>
                &nbsp;&nbsp;
            </div>
            <div class="col-md-2 col-12" *ngIf="allResultatByCandidat.length == 0">
                <div class="spinner spinner-border text-info" role="status" style="margin-left:auto;">
                    <span class="sr-only"></span>
                </div>
            </div>

        </div>
    </div>
</div>
