<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #242c6d !important;width: 100%;">
    <div class="container-fluid">
        <a routerLink="/" class="navbar-brand" style="color: white !important;font-family: cursive;">  Election 2024 </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" style="background-color: white;">
            <span class="navbar-toggler-icon" ></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a routerLink="/" class="nav-item nav-link active" style="color: white !important;">RESULTATS NATIONAL</a>
                <a routerLink="/diaspora" class="nav-item nav-link" style="color: white !important;">RESULTATS DIASPORA </a>
                <a routerLink="/cartographie" class="nav-item nav-link" style="color: white !important;">RESULTATS GLOBAUX</a>
                <a routerLink="/candidats" class="nav-item nav-link" style="color: white !important;">CANDIDATS</a>
               
            </div>

        </div>
    </div>
</nav>

<div>
    <img src="../assets/header banner.png" alt="" srcset="" width="100%">
    <img src="../assets/candidats.png" *ngIf="currentPath != '/candidats'" alt="" width="100%">
    <img src="../assets/rp.png" alt="" srcset="" width="100%">
</div>

<router-outlet></router-outlet>

<footer>

    <img src="../assets/footer.png" alt="" srcset="" width="100%">
</footer>