<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #242c6d !important;width: 110%;" >

    <div class="container collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/" style="color: white !important;">RESULTATS NATIONAL <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/diaspora" style="color: white !important;">RESULTATS DIASPORA <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/evolution" style="color: white !important;">EVOLUTION DES VOTES <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cartographie" style="color: white !important;">CARTOGRAPHIE</a>
            </li>


        </ul>

    </div>
</nav>
<div class="col-12">
    <img src="../assets/header banner.png" alt="" srcset=""  width="110%" >
    <img src="../assets/rp.png" alt=""  width="110%">
    <img src="../assets/candidats.png" alt=""  width="110%">

</div>
<router-outlet></router-outlet>

<footer>

    <img src="../assets/footer.png" alt="" srcset="" width="110%">
</footer>
