.map__image {
    width: 100%;
    margin-top: -300px;
}

.map__image path {
    fill: #a4ced2;
    stroke: #FFF;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.map__image path:hover {
    fill: #088792;
    stroke: #FFF;
    stroke-width: 1px;
    transition: fill 0.3s;
}

@media only screen and (max-width: 600px) {
    .map__image {
        width: 100%;
        margin-top: 30px;
        svg {
            margin-top: -140px;
        }
    }
}

@media only screen and (min-width: 1000px) {
    .map__image {
        width: 100%;
        margin-top: 0px;
        svg {
            margin-top: -140px;
        }
    }
}

@media only screen and (min-width: 1300px) {
    .map__image {
        width: 100%;
        margin-top: -124px;
        svg {
            margin-top: -140px;
        }
        .title-region {
            margin-top: 100px;
        }
    }
}

.spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    /* High z-index so it is on top of the page */
    top: 20%;
    right: 50%;
}


/* /**  color ***** */

.bassirou {
    fill: #0083a4 !important;
    stroke: #FFF;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.aliou {
    fill: #06650c !important;
    stroke: #FFF;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.aly {
    fill: #5d7f4e !important;
    stroke: #FFF;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.amadou {
    fill: #7a4d30 !important;
    stroke: #FFF;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.anta {
    fill: #2a8c3e !important;
    stroke: #FFF;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.boubacar {
    fill: #cd221c !important;
    stroke: #FFF;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.cheikh {
    fill: #1b1a53 !important;
    stroke: #FFF;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.daouda {
    fill: #0a66b2 !important;
    stroke: #FFF;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.dethie {
    fill: #f4b822 !important;
    stroke: #FFF;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.malick {
    fill: #e00314 !important;
    stroke: #FFF;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.mamadou {
    fill: #7030a0 !important;
    stroke: #FFF;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.habib {
    fill: #0083a4 !important;
    stroke: #FFF;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.idrissa {
    fill: #0083a4 !important;
    stroke: #690007;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.khalifa {
    fill: #0083a4 !important;
    stroke: #06603d;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.abdallah {
    fill: #0083a4 !important;
    stroke: #0c8e36;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.lamine {
    fill: #0083a4 !important;
    stroke: #f9e933;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.serigne {
    fill: #0083a4 !important;
    stroke: #0083a4;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.alassane {
    fill: #0083a4 !important;
    stroke: #37abe2;
    stroke-width: 1px;
    transition: fill 0.3s;
}