.map__image {
    width: 100%;
    margin-top: -300px;
}

.map__image path {
    fill: #a4ced2;
    stroke: #FFF;
    stroke-width: 1px;
    transition: fill 0.3s;
}


.map__image path:hover {
    fill: #088792;
    stroke: #FFF;
    stroke-width: 1px;
    transition: fill 0.3s;
}

@media only screen and (max-width: 600px) {
    .map__image {
        width: 100%;
        margin-top: -50px;
    }
}

@media only screen and (min-width: 1000px) {
    .map__image {

        margin-top: 30px;
    }
}


.spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    /* High z-index so it is on top of the page */
    top: 20%;
    right: 50%;
}




/* /**  color ***** */

.bassirou{
    fill: #0083a4 !important;
    stroke: #FFF;
    stroke-width: 1px;
    transition: fill 0.3s;
}

