.map__image {
    width: 100%;
    margin-top: -300px;
}

.map__image path {
    fill: #a4ced2;
    stroke: #FFF;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.map__image path:hover {
    fill: #088792;
    stroke: #FFF;
    stroke-width: 1px;
    transition: fill 0.3s;
}

@media only screen and (max-width: 600px) {
    .map__image {
        width: 100%;
        margin-top: 100px;
    }
    .svg {
        margin-top: -280px;
    }
    .title-region {
        margin-top: 2px;
        border: 1px solid rgb(35, 10, 177);
    }
    .graph {
        margin-top: -65px;
    }
}

@media only screen and (min-width: 1000px) {
    .map__image {
        width: 100%;
        margin-top: 0px;
       
    }
    .svg {
        margin-top: -200px;
    }
    .title-region {
        margin-top: 5px;
        border: 1px solid rgb(35, 10, 177);
    }
}

@media only screen and (min-width: 1300px) {
    .map__image {
        width: 100%;
        margin-top: -180px;
    }
    .svg {
        margin-top: -140px;
    }
    .title-region {
        margin-top: 100px;
        border: 1px solid rgb(35, 10, 177);
    }
}

@media only screen and (min-width: 1500px) {
    .map__image {
        width: 100%;
        margin-top: -110px;
    }
    .svg{
        margin-top: -260px;
    }

    .title-region {
        margin-top: 2px;
        border: 1px solid rgb(35, 10, 177);
    }
    .card-candidat{
        margin-top: -170px;;
    }
}

.spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    /* High z-index so it is on top of the page */
    top: 20%;
    right: 50%;
}

.icon-dash{
    margin-top: 5px;
    margin-left: 5px;
}

/* /**  color ***** */

.bassirou {
    fill: #0083a4 !important;
    stroke: #FFF;
    stroke-width: 1px;
    transition: fill 0.3s;
}



.amadou {
    fill: #7a4d30 !important;
    stroke: #FFF;
    stroke-width: 1px;
    transition: fill 0.3s;
}

